.App {
  text-align: center;
}

.nav {
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav li {
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 10px;
  font-size: 1.4rem;
}

.nav li a {
  text-decoration: none;
}

.nav li:hover {
  background-color: white;
}

.nav li:active {
  background-color: #d3d3d3;
}

.card-list {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.breakdown-list {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.date-box {
  border: 1px solid transparent;
  background-color: lightgray;
}

.breakdown-box {
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  border-bottom-color: lightgray;
}

.box-temp, .box-image, .box-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-detail span {
  margin: 5px;
}

.round {
  border-radius: 5px;
  background-color: #696969;
  color: whitesmoke;
}